@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}
